:root {
    --green: #175900;
    --gold: #F4B000;
    --fade: #8a8a8a;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.cta-button{
  display: inline-block;
  border: 2px solid black;
  padding: 12px;
  padding-left:20px;
  padding-right:20px;
  border-radius: 2em;
  transition: 0.2s;
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: 25px;
  background-color: black;
  color: #fff;
}

.cta-button:hover{
  cursor: pointer;
  border-radius:0.6em;
  padding-left:25px;
  padding-right:25px;
  color: black;
  background-color: white;
}

.cta-replace{
  border: 2px solid transparent;
  padding: 12px;
  padding-left:20px;
  padding-right:20px;
  border-radius: 2em;
  transition: 0.2s;
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: 25px;
  display: none;
  color: var(--theme-grey);
}

body{
  font-family: 'Roboto Mono', monospace;
  color: #000000;
}

.container{
  height: 100%;
  width: 100%;
}

.store-btn{
  width: 100%;
}

#logo{
  display: block;
  margin: 0 auto;
  width: 300px;
  margin-top: 16vh;
}

.directory-title{
  font-size: 30px;
  width: 100%
}

.dir-title-text{
  float: left;
  padding: 5px;
}

.dir-logo-wrapper{
  float: right;
}

.dir-logo{
  width: 50px;
}

.subtitle{
  font-size: 25px;
  padding-top: 25px;
  width: 100%;
  text-align: center;
}

.store-wrapper{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.directory-wrapper{
  width: 100%;
  text-align: left;
  margin-top: 5px;
}

#play-store-btn{
  width: 226px;
  padding: 5px;
  margin: 0 auto;
}

#app-store-btn{
  width: 200px;
  padding: 5px;
  margin: 0 auto;
}

a{
  color: var(--fade);
  transition: 0.3s;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: var(--green);
}

.footer{
  font-size: 12px;
  padding-top: 100px;
  display: block;
}


@media screen and (max-width: 640px) {
  #logo{
    margin-top: 8vh;
  }

  .directory-title{
    font-size: 12px;
  }

  .dir-title-text{
    padding: 0px;
  }

  .dir-logo{
    width: 20px;
  }

}

@media screen and (min-width: 640px) {
  #logo{
    margin-top: 10vh;
  }

  .directory-title{
    font-size: 14px;
  }

  .dir-title-text{
    padding: 2px;
  }

  .dir-logo{
    width: 25px;
  }
}

@media screen and (min-width: 768px) {
  #logo{
    margin-top: 12vh;
  }

  .directory-title{
    font-size: 16px;
  }

  .dir-title-text{
    padding: 3px;
  }

  .dir-logo{
    width: 25px;
  }
}

@media screen and (min-width: 1024px) {
  #logo{
    margin-top: 14vh;
  }

  .directory-title{
    font-size: 20px;
  }

  .dir-title-text{
    padding: 4px;
  }

  .dir-logo{
    width: 40px;
  }
}

@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 1536px) {

}
